<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar">

        <div class="logo">
            College Resource Exchange
        </div>

        <div class="nav-links">
            <a href="/dashboard">Dashboard</a>
            <a href="/upload">Upload</a>
            <a href="/resources">Resources</a>
            <a href="/logout">Logout</a>
            <a href="/my-resources">My Resources</a>
            
            
        </div>

    </nav>

    <div class="dashboard-container">

        <h1>Welcome {{ username }} 👋</h1>

        <p>
            Manage and share study resources with your classmates.
        </p>

        <div class="dashboard-buttons">

            <a href="/upload" class="btn">
                Upload Resource
            </a>

            <a href="/resources" class="btn">
                View Resources
            </a>

            <a href="/my-resources" class="btn">
    My Resources
</a>
            <a href="/profile" class="btn">
    My Profile
</a>

        </div>

        <div class="stats-wrapper">

            <div class="stats-card">
                <h2>Total Resources</h2>
                <p>{{ total_resources }}</p>
            </div>

            <div class="stats-card">
                <h2>My Uploads</h2>
                <p>{{ my_uploads }}</p>
            </div>

        </div>

    </div>

</body>
</html>